In [1]:
d={}

In [2]:
type(d)

dict

In [3]:
d1={'key': "sudh"}## word -- meaning

In [4]:
d1

{'key': 'sudh'}

In [5]:
d2={'name' : 'sudhansu' , ' email ' : 'sahzzadahmad420@gmail.com' }

In [6]:
d2

{'name': 'sudhansu', ' email ': 'sahzzadahmad420@gmail.com'}

In [7]:
d3= { 234 : "sudh" , @ : "kumar"} # special character not allowed

<class 'SyntaxError'>: invalid syntax (<ipython-input-7-65aa5f93ed96>, line 1)

In [12]:
d3= { 234 : "sudh" , "@" : "kumar"} # work

In [13]:
d3= { 234 : "sudh" , "@" : "kumar" , True : 1234} #work

In [14]:
d3 # boolean work

{234: 'sudh', '@': 'kumar', True: 1234}

In [11]:
d3

{234: 'sudh', '@': 'kumar', True: 1234}

In [15]:
d3[234]

'sudh'

In [18]:
d3[True]

1234

In [20]:
d3[1] # True=1

1234

In [26]:
d4={'name':'sudh' , 'mail_id' :' ss@gmail.com' , 'name' : " sudhanshu"} #name two times

In [27]:
d4['name'] # new key ovrwrite

' sudhanshu'

In [28]:
d5={"company" : "pwskills" , "course" : [ "web dev" , " data sciemce" , "dsa"]}

In [29]:
d5

{'company': 'pwskills', 'course': ['web dev', ' data sciemce', 'dsa']}

In [30]:
d5["course"]

['web dev', ' data sciemce', 'dsa']

In [31]:
d5["course"][2]

'dsa'

In [38]:
d6={'number': [2,34,3,34,34] , 'assignment' : ( 1,2,3,4,50), 'launch date' : {28,12,14} , ' class_time ': {"web_dave": 8 ," data science": 8 , "DSA" : 7} }

In [39]:
d6 # keep dict inside dict or list or tuple

{'number': [2, 34, 3, 34, 34],
 'assignment': (1, 2, 3, 4, 50),
 'launch date': {12, 14, 28},
 ' class_time ': {'web_dave': 8, ' data science': 8, 'DSA': 7}}

In [45]:
d6['mentor']= [ "sudhansu","krish"]

In [46]:
d6

{'number': [2, 34, 3, 34, 34],
 'assignment': (1, 2, 3, 4, 50),
 'launch date': {12, 14, 28},
 ' class_time ': {'web_dave': 8, ' data science': 8, 'DSA': 7},
 'mentor': ['sudhansu', 'krish']}

In [48]:
del d6['number']

In [49]:
d6

{'assignment': (1, 2, 3, 4, 50),
 'launch date': {12, 14, 28},
 ' class_time ': {'web_dave': 8, ' data science': 8, 'DSA': 7},
 'mentor': ['sudhansu', 'krish']}

In [51]:
d6.keys() ## make list

dict_keys(['assignment', 'launch date', ' class_time ', 'mentor'])

In [52]:
list(d6.keys())

['assignment', 'launch date', ' class_time ', 'mentor']

In [53]:
d6.values()

dict_values([(1, 2, 3, 4, 50), {28, 12, 14}, {'web_dave': 8, ' data science': 8, 'DSA': 7}, ['sudhansu', 'krish']])

In [54]:
list(d6.values())

[(1, 2, 3, 4, 50),
 {12, 14, 28},
 {'web_dave': 8, ' data science': 8, 'DSA': 7},
 ['sudhansu', 'krish']]

In [55]:
d6.items()

dict_items([('assignment', (1, 2, 3, 4, 50)), ('launch date', {28, 12, 14}), (' class_time ', {'web_dave': 8, ' data science': 8, 'DSA': 7}), ('mentor', ['sudhansu', 'krish'])])

In [57]:
list(d6.items()) # key and value pair

[('assignment', (1, 2, 3, 4, 50)),
 ('launch date', {12, 14, 28}),
 (' class_time ', {'web_dave': 8, ' data science': 8, 'DSA': 7}),
 ('mentor', ['sudhansu', 'krish'])]

In [59]:
d6.pop('assignment')

(1, 2, 3, 4, 50)

In [60]:
d6

{'launch date': {12, 14, 28},
 ' class_time ': {'web_dave': 8, ' data science': 8, 'DSA': 7},
 'mentor': ['sudhansu', 'krish']}

In [62]:
d6.pop() # here error

<class 'TypeError'>: pop expected at least 1 argument, got 0

In [72]:
marks =-65
if marks >= 80 :
    print( " you will be part of A0 batch")
elif marks >= 60  and marks < 80  :
    print ( " you will be part of A1 batch")
elif marks >= 40 and  marks < 60:
    print ( " you will be part of A2 batch")
else:
    print ( " you will be part of A3 batch")

 you will be part of A3 batch

In [1]:
marks = input (" enter your marks " )

In [1]:
1+2

3

In [5]:
l= [ 1,2,3,4,5,6,7,8] #  Q add 1 to each element

In [7]:
l1 = []
for i in l:
    print(i+1) 
    l1.append(i+1)
l1

2
3
4
5
6
7
8
9

[2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [9]:
l= [ " sudh" , " kumar" , " pwskills" , "course"]  # Q convert in upper case

In [11]:
l1 = []
for i in l :
    print (i)
    l1.append(i.upper())

 sudh
 kumar
 pwskills
course

In [12]:
l1

[' SUDH', ' KUMAR', ' PWSKILLS', 'COURSE']

In [13]:
 l= [ 1,2,3,4,4,"sudh","kumar",324,34.456,"abc"] # Q make two separate list

In [19]:
l1_num=[]
l2_str=[]
for i in l :
    if type(i) == int or type(i) == float:
        l1_num.append(i)
    else :
        l2_str.append(i)

In [20]:
l1_num

[1, 2, 3, 4, 4, 324, 34.456]

In [22]:
l2_str

['sudh', 'kumar', 'abc']